<div class="container">
  <h4>Haibu: Busqueda de persona</h4>
  <form #searchForm="ngForm" (submit)="find(searchForm)">
    <div>
      <input 
        type="text" 
        name="name" 
        required 
        minlength="4" 
        placeholder="Ingrese nombre"
        ngModel 
        #name="ngModel" 
      />
      <button type="submit">buscar</button>
    </div>
    <div>
      <div *ngIf="name.invalid && (name.touched)" class="alert">
        <span *ngIf="name.errors?.['required']">Ingrese nombre</span>
        <span *ngIf="name.errors?.['minlength']">El nombre debe contener al menos 4 caracteres</span>
      </div>
    </div>
  </form>

  <div *ngIf="personFound == false" class="result">
    <h3>Persona no encontrada</h3>
  </div>
  <div *ngIf="personFound" class="result">
    <h3>Resultados:</h3>
    <div *ngFor="let person of persons">
      <app-card [person]="person"></app-card>
    </div>
  </div>
</div>